<style>
        body {
          background-image: url(https://www.pixelstalk.net/cool-nature-background-images/);
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
        }